/* Fonts */
@font-face {
    font-family: cocaColaFont;
    src: url(../assets/fonts/loki_cola/LOKICOLA.TTF);
}
@font-face {
    font-family: OpenSans;
    src: url(../assets/fonts/Open_Sans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: Oswald;
    src: url(../assets/fonts/Oswald/static/Oswald-Regular.ttf);
}

body {
    background-color: #333333;
}
.main_contents {
    margin-top: 10px;
    margin-bottom: 10px;
}
.main-text {
    color: #FFF8E7;

}
.card-title{
    color: #FFF8E7;
}
.card-subtitle{
    color: #FFF8E7;
}
p {
    font-family: 'OpenSans', sans-serif;
}
.oasis {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

/* MAIN TEXT STYLING */

#main_3d_image {
    background-image: url(../assets/images/site_images/main_3D_538.jpg);
    background-repeat: no-repeat;
    height: 200px;
}
#main_text {
    float: left;
    margin: 5%;
    width: 90%;
    display: block;
    background-color: #333333;
    padding: 10px;
    border-radius: 5px;
}
#main_text h2 {
    color: #FFF8E7;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
}
#main_text h3 {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#main_text p {
    font-size: 12px;
    margin: 0px;
    line-height: 1.2;
} 

/* DRINKS TEXT STYLING */

.drinksText > h2 {
    color: #FFF8E7;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
}
.drinksText > h3 {
    color: #FFF8E7;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 5px;
}
.drinksText > p {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.4;
}

/* CARD STYLING */

.card {
    border: 1px solid #CDB891;
    /* border-radius: .25rem;*/
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #333333;
 }
.card-text {
    font-size: 13px;
    margin-top: 10px;
    color: #FFF8E7;
}

/* LOGO STYLING */

.logo {
    margin-top: 3px;
}
.logo h1 {
font-family: cocaColaFont; /* You don't need to repeat this for each media query as it is propagated */
font-size: 31px;
margin: 0;
margin-top: -10px;
margin-bottom: -15px;
float: left;
padding-top: 0px;
padding-left: 0px;
padding-right: 2px;
}
.logo h2 {
font-family: cocaColaFont;
font-size: 31px;
margin-top: -6px;
margin-bottom: -15px;
padding-top: 0px;
padding-left: 0px;
padding-right: 3px;
float: left;
}
.logo h3 {
font-size: 18px;
margin-top: 0px;
margin-bottom: -5px;
padding-top: 0px;
padding-left: 0px;
float: left;
}
.logo p {
font-size: 7px; /* You may have to tweak this to get a good fit */
margin-top: 22px; /* You may have to tweak this to get a good fit */
margin-bottom: 0px;
padding-top: 0px;
padding-left: 3px;
}

/* NAVBAR STYLING */

.navbar_coca_cola {
    background-color: #585858; /* Set navbar background color */
    border-width: 0px;
    min-height: 70px;
}
.navbar_coca_cola .navbar-brand {
    color: #FFF8E7;
}
.navbar_coca_cola .navbar-brand:hover {
    color: #CDB891
}
.navbar_coca_cola .navbar-nav > li > a {
    color: #FFF8E7; 
    font-size: 20px;
}
.navbar_coca_cola .navbar-nav > li > a:hover, 
.navbar_coca_cola .navbar-nav > li > a:focus {
    color: #CDB891;
}
.navbar_coca_cola .navbar-nav .nav-item {
    margin-top: 0px;
}
.navbar_coca_cola .navbar-nav .nav-item > .active, 
.navbar_coca_cola .navbar-nav > .active > a:hover, 
.navbar_coca_cola .navbar-nav > .active > a:focus {
    color:  #CDB891; /* Beige Font Color */
    background-color: #585858; /* Dark Grey Background Color */
}
.navbar_coca_cola .navbar-nav > li > a:hover, 
.navbar_coca_cola  .navbar-nav > li > a:focus {
    color: #CDB891;  
}
.navbar_coca_cola .navbar-toggler {
    border-color: #CDB891
}
.navbar_coca_cola  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar_coca_cola .navbar-toggler {
    outline: none !important;
}
.navbar-text {
    color: #FFF8E7 !important;
}
.navbar-text > a {
    font-size: 10px;
    color: #FFF8E7;
    text-decoration: none;
}
.navbar-text > p {
    color: #FFF8E7;
    font-size: 10px;
    text-decoration: none;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color:  #CDB891; /* Beige Font Color */
    background-color: #585858; /* Dark Grey Background Color */
    border-color: #CDB891 #CDB891 #CDB891;
}
.nav-tabs .nav-link {
    color: #FFF8E7;  
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.nav-tabs .nav-link:hover {
    color: #CDB891;
    border: 1px solid transparent;
}
.navbar-nav .nav-link {
  font-size: 20px;
}


/* DROPDOWN STYLING */

.dropdown-menu {
    text-align: -webkit-left;
    background-color: #333333;
    margin-top: 20px; /* Experiment to move the dropdown menu down */
}
.dropdown-menu .dropdown-item {
    color: #FFF8E7;
}
.dropdown-menu .dropdown-item:hover {
    color: #CDB891;
    background-color: #333333;
}

/*STATEMENT*/

.stateText{
    color: #FFF8E7;
    text-decoration: none;
}


/* FOOTER STYLING */

.footer {
    color: #FFF8E7;
    background-color: #888888;
    text-decoration: none;
    height: 50px;
}
.copyright {
    font-size: 10px;
    padding-top: 8px;
    width: 40%; 
    text-decoration: none;
}
.archiveText a{
    color: #FFF8E7;

}
.social {
    padding-top: 0px;
    width: 25%;   
}
    /* ICON STYLING */

.fa-twitter-square:before {
    content: "\f081";
    color: rgb(29, 139, 29);
    font-size: 1em;
}
.fa-github-square:before {
    content: "\f092"; 
    color: rgb(175, 175, 35);
    font-size: 1em;
}
.fa-google-plus-square:before {
    content: "\f0d4"; 
    color: rgb(18, 138, 194);
    font-size: 1em;
}
.fa-facebook-square:before {
    content: "\f082";
    color: rgb(165, 46, 46);
    font-size: 1em; 
}

/* CAMERA STYLING */

.btn-primary {
    background-color: #CDB891;
    border-color: #CDB891;
    color:#333333
}
.btn-primary:hover {
    color: #FFF8E7;
    background-color: #888888;
    border-color: #888888;
}
.camera-btns {
    /* background-color: rgba(0, 0, 255, 0.3);  */
    border-color: #CDB891;
    border-style: solid;
    border-width: 0px;
    margin-top: 0px;
    padding: 0px;
}
.camera-btns > p  {
    font-size: 15px;
    color: rgb(165, 46, 46);
    padding: 5px 0px;
    font-weight: 900; 
}
.camera-font {
    font-weight: 400;   
    color: #FFF8E7;
}
.camera-font:hover {
    font-weight: 700;   
    color: #FFF8E7;
}
.btn-responsive {
    margin-right: 2px;
    margin-bottom: 4px;
    padding: 5px 5px;
    font-size: 80%;
    line-height: 1.2;
    white-space: normal !important;
}
.img-thumbnail {
    padding: 0.25rem;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #333333;
    border: 1px solid #333333;
    border-radius: 1px;
    max-width: 100%;
    height: auto;
}
.showcase{
    font-size: 15px;
}

/* GALLERY STYLING */

.gallery .img-thumbnail {
    background-color: #333333;
    padding: 0.25rem;
    margin: 5px;
    border: 1px solid #333333;
    border-radius: 0.25rem;
    max-width: 43%;
    height: auto;
}
.gallery-header {
    color: #FFF8E7;
}
.gallery-header:hover {
    color: #CDB891;
    border: 1px solid transparent;
}

/* 3D MODEL STYLING */

.model3D {
    background-color: #333333; /* Adjust the transparency to bring the color forward */
    border-radius: 5px;
    border: 0px solid #CDB891;
    padding: 2px;
    height: 200px;
}
X3D, x3d {
    background-color: #333333; /* Adjust the transparency to bring the color forward */
    border-radius: 5px;
    border: 0px solid #CDB891;
    width: 100%;
    height: 100%
    
}

/* SIZING THE SITE FOR DIFFERENT DEVICES */

/* SMALL DEVICES :: 576px and above */
@media (min-width: 576px) {

    body {
        background-color: #333333;
    }

    #main_3d_image {
        background-image: url(../assets/images/site_images/main_3D_768.jpg);
        background-repeat: no-repeat;
        height: 288px;
    }

    #main_text {
        float: right;
        margin-top: 7%;
    }

    .drinksText > h2 {
        color: #FFF8E7;
        font-size: 25px;
        margin-top: 0px;
        margin-bottom: 5px;
    }
    
    .drinksText > h3 {
        color: #FFF8E7;
        font-size: 18px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .drinksText > p {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 1.4;
    }

    .card {
        /* border-radius: .25rem;*/
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #333333;
    }

    .navbar_coca_cola {
        background-color: #585858;
        min-height: 90px;
    }

    .footer {
        background-color: #888888;
        text-decoration: none;
        height: 60px;
    }

    .navbar-text > a {
        font-size: 10px;
        color: #FFF8E7;
        text-decoration: none;


    }

    .navbar-text > p {
        font-size: 10px;
        color: #FFF8E7;
        text-decoration: none;

    }

    .copyright {
        padding-top: 16px;
    }

    .social {
        padding-top: 5px;
        /* border: 1px solid rgba(0,0,0,.125); */
    }

    .model3D  {
        height: 200px;
    }

}
/* MEDIUM DEVICES :: 768px and above */
@media (min-width: 768px) { 
    
    body {
        background-color: #333333;
    }

    #main_3d_image {
        background-image: url(../assets/images/site_images/main_3D_970.jpg);
        background-repeat: no-repeat;
        height: 363px;
    }

    .drinksText > h2 {
        color: #FFF8E7;
        font-size: 27px;
        margin-top: 0px;
        margin-bottom: 5px;
    }
    
    .drinksText > h3 {
        color: #FFF8E7;
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .drinksText > p {
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 1.4;
    }

    .card {
        /* border-radius: .25rem;*/
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #333333;
    }

    #main_text {
        float: right;
        margin-top: 7%;
    }

    #main_text h2 {
        color: #FFF8E7;
        font-size: 30px;
    }
    
    #main_text h3 {
        color: #FFF8E7;
        font-size:22px;
    }
    
    #main_text p {
        font-size: 15px;
    }
    
    /* ++++++++++++++++++++++++++LOGO+++++++++++++++++++++++*/
    
    /* CSS rule to style the mobile logo */

    .logo {
        margin-top: 3px;
    }

    .logo h1 {
        font-family: cocaColaFont; /* You don't need to repeat this for each media query as it is propogated */
        font-size: 41px;
        margin: 0;
        margin-top: 0px;
        margin-bottom: -15px;
        float: left;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 2px;
    }

    .logo h2 {
        font-family: cocaColaFont;
        font-size: 43px;
        margin-top: 5px;
        margin-bottom: -15px;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 3px;
        float: left;
    }

    .logo h3 {
        font-size: 31px;
        margin-top: 5px;
        margin-bottom: 3px;
        padding-top: 0px;
        padding-left: 0px;
        float: left;
    }

    .logo p {
        font-size: 10px;
        margin-top: 45px;
        margin-bottom: 0px;
        padding-top: 0px;
        padding-left: 8px;
    }

    .navbar_coca_cola {
        background-color: #585858;
        min-height: 90px;
    }

    .footer {
        background-color: #888888;
        text-decoration: none;
        height: 60px;
    }

    .navbar-text > a {
        font-size: 10px;
        color: #FFF8E7;
        text-decoration: none;

    }

    .navbar-text > p {
        color: #FFF8E7;
        font-size: 18px;
        text-decoration: none;

    }

    .copyright {
        padding-top: 20px;
        text-decoration: none;
    }

    .social {
        padding-top: 7px;
    }

    .model3D  {
        height: 200px;
    }
}
/* LARGE DEVICES :: 992px and above */
@media (min-width: 992px) { 
    
    body {
        background-color: #333333;;
    }

    #main_3d_image {
        background-image: url(../assets/images/site_images/main_3D_1400.jpg);
        background-repeat: no-repeat;
        height: 400px;
    }

    #main_text {
        float: right;
        margin-top: 20%;
    }

    #main_text h2 {
        color: #FFF8E7;
        font-size: 30px;
    }
    
    #main_text h3 {
        color: #FFF8E7;
        font-size:22px;
    }
    
    #main_text p {
        font-size: 15px;
    }

    .card {
        /* border-radius: .25rem;*/
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #333333;
    }

    .logo {
        margin-top: 7px;
    }

    .logo h1 {
        font-family: cocaColaFont;
        font-size: 59px;
        margin: 0;
        margin-top: 0px;
        margin-bottom: -20px;
        float: left;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .logo h2 {
        font-family: cocaColaFont;
        font-size: 65px;
        margin-top: 7px;
        margin-bottom: -25px;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 6px;
        float: left;
    }

    .logo h3 {
        font-size: 40px;
        margin-top: 15px;
        margin-bottom: -5px;
        padding-top: 0px;
        padding-left: 0px;
        float: left;
    }

    .logo p {
        font-size: 14px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 65px;
        padding-left: 12px;
    }

    .navbar_coca_cola {
        background-color: #585858;
        min-height: 120px;
    }

    .footer {
        background-color: #888888;
        text-decoration: none;
        height: 75px;
    }

    .navbar-text > a {
        font-size: 15px;
        color: #FFF8E7;
        text-decoration: none;

    }

    .navbar-text > p {
        color: #FFF8E7;
        font-size: 23px;
        text-decoration: none;

    }

    .copyright {
        padding-top: 20px;
    }

    .social {
        padding-top: 7px;
    }

    .model3D  {
        height: 250px;
    }
}
/* EXTRA LARGE DEVICES :: 1200px and above */
@media (min-width: 1200px) {   
    #main_3d_image {
        background-image: url(../assets/images/site_images/main_3D_1400.jpg);
        background-repeat: repeat;
        height: 524px;
    }

    .model3D  {
        height: 300px;
    }

}